.about__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 160px;
}

.about__container-text {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 578px;
}

.about__container-text button {
    width: 168px;
}

.slider1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider1-slider {
    width: 681px;
}

.slider1-dots {
    display: flex;
    column-gap: 18px;
}

.slider1-dots li {
    width: 121.21px !important;
    height: 3px !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 100px !important;
    cursor: pointer;
}

.slider1-dots button {
    visibility: hidden;
}

.slider1-dots li.slick-active {
    background-color: var(--accent-color) !important;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px 0;
}

.tools p {
    max-width: 762px;
    margin: 32px 0 64px;
}

.tools__img-container {
    display: flex;
    column-gap: 64px;
}

.ourProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProducts p {
    max-width: 689px;
    margin: 32px 0 64px;
}

.ourProducts__poducts {
    display: flex;
    column-gap: 32px;
}

.ourProducts__poducts-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 260px;
    background-image: url("./../../assets/cardFrame.png");
    transition: all 0.4s;
    border-radius: 18px;
}

.ourProducts__poducts-item:hover {
    background-color: rgba(255, 255, 255, 0.123);
}

.ourProducts__poducts-item .ourProducts__poducts-item__img-wrapper {
    bottom: -30px;
    transition: all 0.4s;
}

.ourProducts__poducts-item:hover .ourProducts__poducts-item__img-wrapper {
    bottom: -10px;
}

.ourProducts__poducts-item:hover p {
    bottom: -10px;
}

.ourProducts__poducts-item__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 28px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
}

.ourProducts__poducts-item p {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    max-width: 316px;
    bottom: -30px;
    transition: all 0.4s;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h2 {
    margin-bottom: 48px;
}

.cta__form {
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.02);
    padding: 32px 35px 32px 32px;
    display: flex;
    column-gap: 26px;
}

.cta__form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.cta__form-fields input {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.02);
    padding: 12px 14px;
}

.cta__form-fields input::placeholder {
    color: var(--white-color);
}

.cta__form-fields textarea {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.02);
    padding: 12px 14px;
    resize: none;
}

.ourProducts__poducts {
    margin-bottom: 32px;
}

@media (max-width:1350px) {
    .ourProducts__poducts-item {
        width: 340px;
        height: 230px;
    }
    .about__container img {
        width: 500px;
    }
    .slider1-slider {
        width: 500px;
    }
    .slider1-slider img {
        width: 500px !important;
    }
}

@media (max-width:1150px) {
    .ourProducts__poducts {
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }
}

@media (max-width:950px) {
    .about__container img {
        width: 347px;
    }
    .slider1-slider,
    .slider1-slider img {
        width: 347px !important;
    }
    .slider1-dots li {
        width: 80px !important;
        height: 3px !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
        border-radius: 100px !important;
        cursor: pointer;
    }
    .about__container {
        column-gap: 20px;
        padding-top: 100px;
    }
}

@media (max-width:750px) {
    .about__container {
        align-items: center;
        row-gap: 33px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .about__container:nth-child(2) {
        flex-direction: column;
    }
    .about__container img {
        width: 100%;
    }
    .about__container-text {
        row-gap: 16px;
    }
    .slider1-slider,
    .slider1-slider img {
        width: 500px !important;
    }
    .tools {
        padding-bottom: 20px;
        margin: 100px 0 80px;
        position: relative;
        overflow: hidden;
    }
    .tools__img-container {
        width: 150%;
        position: absolute;
        bottom: 0px;
        right: -120px;
    }
    .cta__form div:nth-child(2) {
        display: none;
    }
}

@media (max-width:500px) {
    .ourProducts__poducts-item {
        width: 100%;
        height: 90px;
        position: relative;
        flex-direction: row;
        background-image: none;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.02);
        display: flex;
        padding: 0 15px;
        justify-content: unset;
        column-gap: 16px
    }
    .ourProducts p {
        margin: 0;
    }
    .ourProducts__poducts-item .ourProducts__poducts-item__img-wrapper {
        bottom: -0px;
    }
    .ourProducts__poducts-item__img-wrapper {
        padding: 15px;
    }
    .ourProducts__poducts-item p {
        bottom: 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
    }
    .ourProducts__poducts-item__img-wrapper img {
        width: 28.8px;
        height: 28.8px;
    }
    .slider1-slider,
    .slider1-slider img {
        width: 310px !important;
    }
    .cta__form-fields input,
    .cta__form-fields textarea {
        width: 243px;
    }
    .cta__form {
        width: 310px;
    }
}