.products__text {
    margin: 32px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: var(--text-color);
    max-width: 661px;
}

.products__filter-categories {
    display: flex;
    column-gap: 24px;
    margin-bottom: 32px;
}

.products__filter-categories__cat {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    padding: 14px 16px;
    cursor: pointer;
}

.products__filter-categories__cat.active {
    background: var(--white-color);
    color: var(--black-color);
}

.products__filter--list {
    display: flex !important;
    flex-wrap: wrap;
    gap: 30px;
}

.products__filter--list__item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
    max-width: 412px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.02);
}

.products__filter--list__item-text,
.products__filter--list__item-link {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
}

.products__filter--list__item-link:hover {
    color: var(--white-color);
}

.slider2-dots {
    position: absolute;
    right: -32px;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translate(100%, -46%);
    row-gap: 5px;
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
}

.slider2-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 45px;
    cursor: pointer;
    transition: all 0.6s;
}

.slider2-dots button {}

.slider2-dots li.slick-active {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.37) !important;
}

.products__mobile-filter {
    display: none;
}

.products__mobile-filter--slider {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.slider2-dots-mob {
    position: absolute;
    display: flex;
    column-gap: 5px;
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
    right: 50%;
    top: 100%;
    transform: translate(50%, 45%);
}

.slider2-dots-mob li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 45px;
    cursor: pointer;
    transition: all 0.6s;
}

.slider2-dots-mob li.slick-active {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.37) !important;
}

.products__filter-categories.mob .slick-track {
    display: flex !important;
    column-gap: 10px;
}

@media (max-width:1350px) {
    .products__filter--list__item {
        width: 300px;
    }
}

@media (max-width:1150px) {
    .products__filter--list__item {
        width: 250px;
    }
}

@media (max-width:950px) {
    .products__filter--list__item {
        width: 200px;
    }
}

@media (max-width:750px) {
    .products__filter {
        display: none!important;
    }
    .products__mobile-filter {
        display: block;
    }
    .products__filter--list__item {
        max-width: 100%;
        display: flex!important;
    }
    .products__filter-categories {
        display: none;
    }
    .products__filter-categories.mob {
        display: block;
    }
    .products__filter--list__item-link {
        display: none;
    }
}

@media (max-width:500px) {
    .products__filter-categories__cat {
        width: 93px;
        height: 38px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        padding: 12px 0;
        text-align: center;
    }
}