.blogContent {
    display: flex;
    column-gap: 25px;
}

.blogContent__first {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 709px;
}

.blogContent__first-statistic {
    display: flex;
    column-gap: 18px;
}

.blogContent__first-statistic div {
    display: flex;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.05);
    padding: 9px 12px;
    column-gap: 9px
}

.blogContent__second {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.blogContent__second-item {
    display: flex;
    column-gap: 24px;
}

.blogContent__second-item__img-container {
    position: relative;
    border-radius: 8px;
}

.blogContent__second-item__img-container img {
    width: 218px;
    height: 218px;
}

.blogContent__second-item__img-container__theme {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    border-radius: 60px;
    /* Normal */
    background: rgb(15, 174, 150);
    padding: 8px 12px;
    width: 110px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

.blogContent__second-item__img-container__theme img {
    width: 17.5px;
    height: 13.34px;
}

.blogContent__second-item__img-container__views {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 1000px;
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

.blogContent__second-item__img-container__views img {
    width: 16.5px;
    height: 11.25px;
}

.blogContent__second-item__text-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 325px;
}

.blogContent__first--slider {
    display: none;
    overflow: hidden;
    width: 100%;
}

@media (max-width:1350px) {
    .blogContent__second {
        display: none;
    }
    .blogContent {
        justify-content: center;
        margin-top: 30px;
    }
    .blogContent__first--slider {
        display: inline-block;
    }
    .blogContent__second-item__img-container img {
        width: auto;
        height: auto;
    }
    .blogContent__first--slider-slider {
        width: 750px;
    }
}

@media (max-width:750px) {
    .blogContent__first-statistic div {
        column-gap: 5px;
    }
    .blogContent__first--slider-slider {
        width: 500px;
    }
}

@media (max-width:500px) {
    .blogContent__first-statistic {
        flex-direction: column-reverse;
        row-gap: 10px;
    }
    .blogContent__first--slider-slider {
        width: 320px;
    }
    .blogContent__second-item__img-container,
    .slider--img {
        width: 181px;
        height: 137px;
    }
}